<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-Hans">
<head>
    <meta charset="UTF-8"/>
    <title>Xavier's PasteBin</title>
    <link rel="stylesheet" th:href="@{/static/standalone/style.min.css}"/>
    <script th:src="@{/static/prism_1.29.0/prism.js}"></script>
</head>
<body>
<h1>Xavier's pastebin</h1>
<form th:action="@{/submit}" method="post">
    <label for="inputField">昵称:</label>
    <input type="text" id="inputField" name="author"/>

    <label for="selectField">语言:</label>
    <select id="selectField" name="language">
    </select>

    <label for="expireOption">保留:</label>
    <select id="expireOption" name="expire">
        <option value="1h">1小时</option>
        <option value="2h">2小时</option>
        <option value="12h">12小时</option>
        <option value="1d">1天</option>
        <option value="1w">1周</option>
        <option value="1m">1月</option>
    </select>

    <input type="submit" value="提交"/>

    <label for="codeTextArea"></label>
    <textarea id="codeTextArea" style="width: 100%; min-height: 300px;height: fit-content" name="content"></textarea>
</form>
<script type="text/javascript">
    /**
     * Capitalizes the first letter of a string.
     *
     * @param {string} str - The input string.
     * @returns {string} The modified string with the first letter capitalized.
     */
    function capitalizeFirstLetter(str) {
        return str.charAt(0).toUpperCase() + str.slice(1);
    }

    document.addEventListener("DOMContentLoaded", () => {
        const $selectField = document.getElementById("selectField");
        const languageList = Object.keys(Prism.languages).sort();

        const indexToRemove = languageList.indexOf("DFS"); /* 删除DFS方法映射出的Key */
        if (indexToRemove !== -1) {
            languageList.splice(indexToRemove, 1);
        }

        for (let i = 0; i < languageList.length; i++) {
            const currentLanguageName = languageList[i];

            const $option = document.createElement("option");
            $option.value = currentLanguageName;
            $option.text = capitalizeFirstLetter(currentLanguageName);

            $selectField.add($option);
        }
    });
</script>
</body>
</html>