<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-Hans">
<head>
    <meta charset="UTF-8"/>
    <title>Xavier's PasteBin</title>
    <script th:src="@{/static/prism_1.29.0/prism.js}"></script>
</head>
<body>
<h2>Form Example</h2>
<form th:action="@{/submit}" method="post">
    <label for="inputField">昵称:</label>
    <input type="text" id="inputField" name="author"/>

    <label for="selectField">语言:</label>
    <select id="selectField" name="language">
    </select>

    <label for="selectField">过期:</label>
    <select id="expireOption" name="expire">
        <option value="1h">1小时</option>
        <option value="2h">2小时</option>
        <option value="12h">12小时</option>
        <option value="1d">1天</option>
        <option value="1w">1周</option>
        <option value="1m">1月</option>
    </select>

    <input type="submit" value="Submit"/>

    <label>
        <textarea style="width: 100%; height: 200px;" name="content"></textarea>
    </label>
</form>
<script type="text/javascript">
    /**
     * Capitalizes the first letter of a string.
     *
     * @param {string} str - The input string.
     * @returns {string} The modified string with the first letter capitalized.
     */
    function capitalizeFirstLetter(str) {
        return str.charAt(0).toUpperCase() + str.slice(1);
    }

    document.addEventListener("DOMContentLoaded", () => {
        const $selectField = document.getElementById("selectField");

        for (let languageKey in Prism.languages) {
            const $option = document.createElement("option");
            $option.value = languageKey;
            $option.text = capitalizeFirstLetter(languageKey);

            $selectField.add($option);
        }
    });
</script>
</body>
</html>