<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-Hans">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${author} + 分享的代码"></title>
    <link rel="stylesheet" th:href="@{/static/prism_1.29.0/prism.css}"/>
</head>
<body>
<h1 th:text="${author} + 分享的代码"></h1>
<!-- https://github.com/PrismJS/prism/issues/3201#issuecomment-974647277 -->
<pre class="line-numbers"><code th:class='${"language-"} + ${language}' th:text="${content}"></code></pre>
<script th:src="@{/static/prism_1.29.0/prism.js}"></script>
</body>
</html>